{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
</style>
<div class="text-center fs-1 heading text-white" style="font-family:Monotype Corsiva; background:navy;">About Us</div>
<div class="fs-4 py-3" style="font-family:Bahnschrift Condensed;">Social media news, often referred to simply as social news, refers to a more modern tendency to get news from social media rather than more traditional news sources. This can take many forms, whether it means reading news that people in your network have shared, reading status updates and the like, or reading news from pages that you follow.

    There is nothing inherently wrong with social media news. In fact, it can be a useful lens and filter through which to receive news. Social news allows you to see not only the event or information itself but also the reaction this has among your social network. It more closely mimics the way that we received news historically before the printing press
                                               – by word of mouth.</div>
{% endblock %}