{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="h1 text-center">NEWS</div>
    <div class="col-sm-2">
        <div class="list-group">
            <a href="#" class="list-group-item bg-info list-group-item-action active" aria-current="true">
                NEWS CAREGORY
            </a>
            {% if c %}
            {% for x in c %}
            <a href="#" class="list-group-item list-group-item-action">{{x.cname}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-10">
        {% if n %}
        {% for a in n %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/{{a.newspic}}" class="img-fluid rounded-start w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-light">
                        <h5 class="card-text">{{a.ncategory}}</h5>
                        <p class="card-title h4">{{a.headlines}}</p>
                        <p class="card-text fw-bolder">{{a.subject}}</p>
                        <p class="card-text">{{a.newsdes}}</p>
                        <p class="card-text"><small class="text-muted">Date : {{a.ndate}} || City:{{a.city}} </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if n %}
        {% for a in n %}
</div>
{% endblock %}